<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.handball_project">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/handball"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Tore9mActivity"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".MatchAddPlayerActivity" />
        <activity android:name=".MatchCreateActivity" />
        <activity android:name=".Settings" />
        <activity
            android:name=".StartMatch"
            android:screenOrientation="landscape" />
        <activity android:name=".UpdatePlayer" />
        <activity android:name=".AddPlayer" />
        <activity android:name=".PlayerStatistics" />
        <activity android:name=".EditTeam" />
        <activity android:name=".UpdatePersonActivity" />
        <activity android:name=".PersonsAdapter" />
        <activity android:name=".PersonsActivity" />
        <activity android:name=".DeletePlayer" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>